.ima {
    margin-top: 50px;
    margin-bottom: 10px;
}

.par {
    border: 3px goldenrod dashed;
}

.bodynoir {
    background-color: black;
}

.bt {
    margin-left: 230px;
    margin-bottom: 100px;
}

.maino {
    height: 600px;
}


/*.tab1 {
    margin: 10px;
}*/